doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/globals.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/rectangles.css')
    link(rel='stylesheet', href='/css/svg.css')
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"> 
  body
    block content
    script(src=(process.env.NODE_ENV === "production" ? "/javascripts" : "http://127.0.0.1:8080/javascripts") + '/main.js')
